@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

// @font-face {
//   font-family: "Circular";
//   src: url("/fonts/CircularStd-Medium.ttf");
//   font-weight: 600;
//   font-style: medium;
// }

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Medium.ttf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Book.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-BookItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
