@import "typography";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply overflow-x-hidden min-w-full font-normal text-gray-600;
    scroll-behavior: smooth;
  }

  #wrapper {
    @apply flex flex-col relative  bg-white overflow-x-hidden pb-16 lg:pb-0;
    min-width: 23.4375rem;
    @screen lg {
      @apply overflow-visible;
    }
    .container {
      @apply mx-auto;
      @media (min-width: 1600px) {
        max-width: 87.5rem !important;
      }
    }
    .container {
      @apply px-3;
    }
  }

  main {
    @apply flex-1;
  }

  section {
    @apply py-12 bg-white;

    @screen lg {
      @apply py-[6rem];
    }
  }

  p {
    @apply mb-6;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-gray-900 font-medium;
  }

  h1 {
    @apply text-4xl mb-3 leading-tight;

    @screen lg {
      @apply leading-tight;
      @apply text-6xl leading-tight;
    }
  }

  h2 {
    @apply text-3xl font-medium relative mb-4 leading-tight;

    @screen lg {
      @apply text-4xl;
    }

    &.no-border {
      @apply pb-0;

      &::before {
        @apply hidden;
      }
    }
  }

  h3 {
    @apply text-2xl font-medium mb-3;

    @screen lg {
      @apply text-3xl leading-tight;
    }
  }

  h4 {
    @apply text-base font-medium;
  }

  h5 {
    @apply text-lg font-medium mb-0;
  }
  mark {
    @apply bg-white  text-primary-300;
  }

  svg {
    @apply inline-block;
  }
  article {
    @apply mb-14;
  }
}
strong {
  @apply font-medium;
}
.list {
  @apply pl-6;

  li {
    @apply pb-4 relative;

    &:before {
      position: absolute;
      left: -20px;
      top: 10px;
      content: "";

      @apply text-gray-900 font-semibold w-1.5 h-1.5 bg-zinc-700 rounded-full;
    }
  }
}

.table-item {
  @apply py-4 border-b border-slate-100 px-6;
}

.blog-content {
  @apply text-xl leading-8 text-gray-600;
  p {
    @apply mb-8;
  }
  blockquote {
    @apply border-l-4 px-12 pt-8 pb-6 border-primary-300 bg-slate-50 text-2xl italic text-slate-900 relative my-12 font-medium;
    &:before {
      content: url("https://api.iconify.design/dashicons/editor-quote.svg?color=%23D5D9EB&width=52&height=52");
    }
    p {
      @apply mb-0;
    }
  }
}

.order-overview {
  @apply fixed bg-white w-full p-4 border-t h-screen cursor-pointer duration-200 ease-linear overflow-y-scroll;
  top: calc(100vh - 70px);
  @screen lg {
    @apply flex flex-col gap-4 px-10 bg-white py-8 fixed right-0 top-0 lg:w-2/5 border-0 duration-300 ease-linear;
  }
  &.active {
    @apply top-0;
  }
}
.mardown-text {
  strong {
    @apply text-slate-900;
  }
  p {
    @apply mb-1;
  }
}

.content-template {
  ul {
    @apply mb-4 pl-4;
    li {
      @apply list-disc;
    }
  }

  h4 {
    @apply text-xl font-medium;
  }
}
