.card {
  &-plan {
    @apply p-4 rounded-lg flex flex-col gap-6 min-w-full;
    &:nth-child(1) {
      @apply bg-primary-50;
    }
    &:nth-child(2) {
      @apply bg-blue-50;
      .btn.btn-outline {
        @apply bg-slate-900 text-white;
      }
    }
    &:nth-child(3) {
      @apply bg-rose-50;
    }
    &:nth-child(4) {
      @apply bg-orange-50;
    }
  }
}
