// .collapse-plus .collapse-title:after {
//   top: 2rem;
// }
.collapse-title {
  @apply text-xl font-medium text-gray-900;
}

.accordion {
  @apply p-6 border border-gray-100 rounded-xl bg-white  mb-4 w-full flex flex-col cursor-pointer;
  &-content {
    @apply max-h-0 overflow-hidden duration-200 ease-in-out;
    p:last-child {
      @apply mb-0;
    }
  }
  &-title {
    @apply text-lg font-medium text-gray-900 flex justify-between;
  }
  &.active {
    @apply border-primary-300 border-2 bg-[#FAFFFE];
    .accordion-content {
      @apply max-h-60 duration-300 ease-in-out mt-4;
    }
  }
}
.collapse-close .collapse-content {
  max-height: 0;
  max-height: 0;
}
