// footer {
//   @apply bg-linear-gradient-secondary pt-[12rem] pb-8;
//   h4 {
//     @apply mb-2 text-gray-100 text-base;
//   }
//   .nav-link {
//     @apply text-gray-400 hover:text-gray-200  text-base font-normal relative left-0 transition-all ease-in-out duration-300 py-1.5;
//   }
// }
